@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@300&display=swap');

:root {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8E8EE;
  color: #0f0f0f;
}

.AboutMe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px; 
}

.AboutMe-img {
  max-width: 20rem;
  max-height: 20rem;
}

.Greeting-text {
  position: absolute; 
  top: 0.5vh;
  left: 20vw;
  padding: 0 5px; 
  font-size: 10rem;
  font-family: 'Pacifico', cursive;
  color: #FDCEDF;
  z-index: -1;
  -webkit-text-stroke: 3px #F9F5F6; 
}

h3 {
  font-size: 16px;
  max-width: 22rem;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -1px;
  padding: 10px;
  margin-top: 10rem;
  color: rgba(0, 0, 0, 0.815);
}